@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
// font-family: 'Pacifico', cursive;

.App {
	min-height: 100vh;
	display: flex;
	background-image: url("../assets/Colorful-Circle-Simple-Background-Image-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: black;
}
